h1 {
  color: #7c0a02;
  font-family: 'Lobster', cursive;
  font-size: 4.2rem;
  font-weight: 400
}

h2{
color: #b22222;
font-size: 2.8rem;
font-weight: 200;
font-family: sans-serif;
}

h3{
color: #e25822;
font-size: 1.8rem;
font-weight: 200;
font-family: ariel;
}

body{
  background-color: #f1bc31;
  text-align: center;
}

.layer1{
  margin: 20px 10px;
  width: 300px;
  height: 300px;
  border-style: groove;
  border-radius: 70px;
}

hr{ border-color: white;
    width: 90%;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(top, #30e3cb, #2bc4ad);
  text-decoration: none;
}


p {
  color: #1b262c;
  font-size: 1.8rem;
  font-weight: 200;
}
.topContainer {
  background-color: #f1bc31;
  font-family:  sans-serif;
}

.bottom-container {
background-color: #f1bc31;
font-size: 1em;
font-weight: 200;
padding: 50px 0 20px;
}

.footer-link{
  font-size: 1em;
  margin-top: 20px;
}


a {
  color: #11999E;
  font-family: sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
